<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nscaSettings" type="Nagios.NSCA.Client.NSCASettings, Nagios.NSCA.Client"/>
  </configSections>

  <nscaSettings nscaAddress="172.16.76.100" port="5667" password = "Eith2Ois" encryptionType="Xor"/>
</configuration>